@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
body {
  margin: 0;
  font-family: "Baskervville SC", serif;  /* Futuristic font */
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Hide scrollbars for Chrome, Safari, and Edge */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbars for Internet Explorer and Edge */
body {
  -ms-overflow-style: none;
}